<ul class="nav">
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', logout_path, :method=>'delete') %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login/Sign up', login_path)  %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to('My Account', me_path) %>
      </li>
    <% end %>
</ul>
