<h1>Editing <%= singular_table_name %></h1>

<div class="span10">
  <%%= render 'form' %>
</div>

<%%= side_nav_link_to 'Show <%= human_name %>', @<%= singular_table_name %> %>
<%%= side_nav_link_to 'List <%= human_name %>s', action: :index %>
